@import "../theme"

div.video-card
    margin: 0.1em
    position: relative
    background-color: $background5
    border-radius: 5px
    padding: 1em

    span.title
        font-size: 0.8em
    p
        font-size: 0.5em

    img, video
        width: auto
        max-width: 20vh

    div.overlay
        position: absolute
        top: 0
        left: 0
        z-index: 10
        opacity: 0

        &:hover
            opacity: 100%