@import "../theme"

div.video-card
    margin: 0.1em
    position: relative
    background-color: $background5
    border-radius: 5px

    min-width: 29em
    max-width: 29em

    span.title
        font-size: 0.8em
    
    div.info
        font-size: 0.5em

    img
        width: auto
        max-width: 20vh